<!DOCTYPE html>

{%extends 'AppTwo/base.html'%}
{%load static%}

{%block content_n %}

<div class="container">
    
    <h1>Hello, User this is index page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolore quia rem, eum obcaecati architecto reiciendis
    labore, non quasi, nobis cumque totam cum similique ut et perspiciatis ab iure neque.</p>
    <a href="{%url 'AppTwo:help'%}">help</a>
    <img src="{% static 'images/tic.jpeg' %}" width= '500px'alt="image">
    
</div>

{%endblock%}